<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Ô CHINÊS</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
</head>
<body>

<form action="/pessoa/salvarpt" method="post" enctype= "multipart/form-data">
	
	
	Nome: <input type="text"name="nomePrato"><br>
	Preço: <input type="text"name="precoPrato"><br>
	Imagem: <input type="file"name="imagem"><br>
	<input type ="submit" value="Cadastrar">
</form>
	<a href="/pessoa/principal"><button>Inicio do Site</button></a> 

	<script src="/js/bootstrap.min.js"> </script>

</body>
</html>