/*Para  300px ou menos*/
@media only screen and (max-device-width: 300px) {
    /* .menu { width:100%; } */
    }

@media only screen and (max-device-width: 300px) {
    /* .header-1 { width:100%; } */
    }
    
@media only screen and (max-device-width: 300px) {
    /* .header-2 { width:100%; } */
    }
@media only screen and (max-device-width: 300px) {
    /* .col-100 { width:100%; } */
    }
@media only screen and (max-device-width: 300px) {
    /* .corpo { width:100%; } */
    }
@media only screen and (max-device-width: 300px) {
    /* .rodape { width:100%; } */
    }

/*Para  500px ou menos*/
@media only screen and (max-device-width: 500px) {
    /* .menu { width:100%; } */
    }

@media only screen and (max-device-width: 500px) {
    /* .header-1 { width:100%; } */
    }
    
@media only screen and (max-device-width: 500px) {
    /* .header-2 { width:100%; } */
    }
@media only screen and (max-device-width: 500px) {
    /* .col-100 { width:100%; } */
    }
@media only screen and (max-device-width: 500px) {
    /* .corpo { width:100%; } */
    }
@media only screen and (max-device-width: 500px) {
    /* .rodape { width:100%; } */
    }

/*Para  700px ou menos*/
@media only screen and (max-device-width: 700px) {
    /* .menu { width:100%; } */
    }

@media only screen and (max-device-width: 700px) {
    /* .header-1 { width:100%; } */
    }
    
@media only screen and (max-device-width: 700px) {
    /* .header-2 { width:100%; } */
    }
@media only screen and (max-device-width: 700px) {
    /* .col-100 { width:100%; } */
    }
@media only screen and (max-device-width: 700px) {
    /* .corpo { width:100%; } */
    }
@media only screen and (max-device-width: 700px) {
    /* .rodape { width:100%; } */
    }

/*Para  900px ou menos*/
@media only screen and (max-device-width: 900px) {
    /* .menu { width:100%; } */
    }

@media only screen and (max-device-width: 900px) {
    /* .header-1 { width:100%; } */
    }
    
@media only screen and (max-device-width: 900px) {
    /* .header-2 { width:100%; } */
    }
@media only screen and (max-device-width: 900px) {
    /* .col-100 { width:100%; } */
    }
@media only screen and (max-device-width: 900px) {
    /* .corpo { width:100%; } */
    }
@media only screen and (max-device-width: 900px) {
    /* .rodape { width:100%; } */
    }